@import "./styles.scss";
.App {
  display: grid;
  grid-template-rows: 120px;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: 320px 320px 320px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas:
    "name name name"
    ". . ."
    ". . .";
  width: 92%;
  height: 90vh;
  padding: 30px 50px;
  
  @media screen and (min-width: $maxscreen) {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 427px 427px 427px;
  }

  @media screen and (min-width: $notebookmin) and (max-width: $notebookmax) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    row-gap: 30px;
    justify-content: space-between;
  }

  @media screen and (min-width: $phonemin) and (max-width: $phonemax) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 20px;
    row-gap: 20px;
  }
  @media screen and (max-width: $minscreen) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    row-gap: 10px;
  }
}
